<%- include("partials/header.ejs") %>
    
        <form action="">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <input type="text" id="fname" name="fname"><br><br>
          </form>

          <button type="button"  >Add</button>
          

<%- include("partials/footer.ejs") %>